<h1><%= @user.email %>さんのページです</h1>

<% @user.articles.each do |article| %>
	<%= article.title %>:
	<%= article.author %>
	<% if article.liked_by? current_user %>
          <%= link_to 'いいね解除', article_like_path(article.id), method: :delete %>
        <% else %>
         <%= link_to 'いいね', article_like_path(article.id), method: :article %>
        <% end %><br>
<% end %>